$color1: limegreen;
$color2: greenyellow;
$color3: #999;
$color4: #333;
$color5: #DDD;
$color6: #EFEFEF;
$color7: #CCC;
$color8: #EEE;
$color9: #7fcc7f;
$color10: #AAA;
$color11: lightgrey;
$white: white;
$green: forestgreen;